<?xml version="1.0" encoding="utf-8"?>
<DataType Key="705f8035-74f4-407b-a8ea-f331ce5b5c8f" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14605de0-5bc2-495c-9d5b-e6a660ea3cd9",
      "label": "[[ \u0027Rich Text\u0027 \u002B $index]]"
    },
    {
      "contentElementTypeKey": "fdce3215-6a94-4387-bb54-55a56a1233c4",
      "label": "[[ \u0027Image Row\u0027 \u002B $index ]]"
    }
  ]
}]]></Config>
</DataType>