<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcf45ee1-e9ed-43a5-a9c4-f82454743a1c" Alias="Content Properties - Body Text - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Content Properties - Body Text - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>