<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3318d97a-9425-4309-bc3f-0b03a8176c55" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Red",
    "Orange",
    "Green"
  ]
}]]></Config>
</DataType>