<?xml version="1.0" encoding="utf-8"?>
<Media Key="128465d3-2f21-4903-a42c-dc4eef501b9f" Alias="istockphoto-1558286360-1024x1024.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/istockphoto15582863601024x1024jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-19T05:50:06</CreateDate>
    <NodeName Default="istockphoto-1558286360-1024x1024.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lsxnfjci/istockphoto-1558286360-1024x1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>