<?xml version="1.0" encoding="utf-8"?>
<Media Key="785c54b1-b471-4ac9-b646-62967eeb8d24" Alias="istockphoto-1426413947-1024x1024.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/istockphoto14264139471024x1024jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-18T19:23:58</CreateDate>
    <NodeName Default="istockphoto-1426413947-1024x1024.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h0pbvtqy/istockphoto-1426413947-1024x1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>