<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5db019e0-c4f8-42bb-8929-9d81b47246d5" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or block page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="11283af7-6b6b-4b93-930b-36bba11e8200">contentProperties</Composition>
      <Composition Key="7991e262-8b45-41ed-8c60-23741bc7d8a2">headerProperties</Composition>
      <Composition Key="f12f0ec3-1368-42a3-8f5e-ecced40caeb8">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>articleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="28f6d828-8337-464d-8f92-2f36a9ef8940">articleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>