<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ee7efc3-00b5-4c39-b5f9-9c65ac2f65f4" Alias="Blog" Level="2">
  <Info>
    <Parent Key="f28a4a78-1802-46fd-a403-c1b72a159e88">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-12-19T18:15:45</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="526ea4e8-c1fe-4bb0-83a5-4a6bdec14307">contactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "22b081ef-2909-4d0b-9fb7-418ee531cb89",
    "mediaKey": "128465d3-2f21-4903-a42c-dc4eef501b9f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>