<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac4147fc-661e-42ad-b0b0-faf3144a8dec" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f28a4a78-1802-46fd-a403-c1b72a159e88">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-12-19T18:16:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="526ea4e8-c1fe-4bb0-83a5-4a6bdec14307">contactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "7dcf8561-394b-4d00-b172-8162ef039e27",
    "mediaKey": "785c54b1-b471-4ac9-b646-62967eeb8d24",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>