<?xml version="1.0" encoding="utf-8"?>
<Content Key="f28a4a78-1802-46fd-a403-c1b72a159e88" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-12-18T18:54:39</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13513cc8-8247-4d57-b98b-95cbdb865002">homePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "600b927d-df96-4f74-ade3-9a82b7737d5a",
    "mediaKey": "785c54b1-b471-4ac9-b646-62967eeb8d24",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/f28a4a78180246fda403c1b72a159e88",
    "url": null,
    "queryString": null
  },
  {
    "name": null,
    "target": null,
    "udi": "umb://document/7ee7efc300b54c39b5f99c65ac2f65f4",
    "url": null,
    "queryString": null
  },
  {
    "name": null,
    "target": null,
    "udi": "umb://document/b747a1ea9b684ef08908c95b5373e040",
    "url": null,
    "queryString": null
  },
  {
    "name": null,
    "target": null,
    "udi": "umb://document/ac4147fc661e42adb0b0faf3144a8dec",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Yogesh Umbraco Site]]></Value>
    </title>
  </Properties>
</Content>